:root {
	--primary-bkg: #e0e0e0;
	--secondary-bkg: #9d19b5;
	--light-bkg: #fbe8ff;
	--secondary-bkg-hover: #bb19d8;

	--primary-c: #000000;
	--secondary-c: #9d19b5;
	--light-c: #ffffff;
	--hint-c: #7a797985;


	--info: #4F77C3;
	--danger: #C12F2F;
	--success: #198754;
	--warning: #ffc107;
}

/* BEGIN: typography */

	html {
		font-size: 16px;
	}

	@media screen and (min-width: 320px) {

		html {
			font-size: calc(16px + 8 * ((100vw - 320px) / (1000 - 320) ));
		}
	}

	@media screen and (min-width: 1000px) {
		html {
			font-size: 24px;
		}
	}

/* END: typography */

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--primary-c);
}

body {

	height: auto;
	min-height: 100%;
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul, li {
	list-style-type: none;
}

h1, h2, h3, h4, h5 {
	color: var(--secondary-c);
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
	margin-top: 0px;
}

h1 {
	font-size: 160%;
	margin-bottom: 1.2rem;
}

h2 {
	font-size: 140%;
	margin-bottom: 1rem;
}

h3 {
	font-size: 120%;
	margin-bottom: 0.8rem;
}

.asterisk {
	font-size: 80%
}

h4 {
	font-size: 110%;
	margin-bottom: 0.6rem;
}

input:not([type=radio]):not([type=checkbox]), select {
	background-color: #fff;
	border-radius: 0;
	height: 45px;
}

input, select, textarea {
	border: 1px solid #d8d8d8;
	border-radius: 8px;
	padding: 8px;
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.4;
	margin: 0;
}

button[disabled] {
	cursor: not-allowed;
	background-color: #D7D7D7;
}

.highlight {
	color: var(--secondary-c);
	font-weight: bold;
}

.highlight-dark {
	color: var(--secondary-c);
	font-weight: bold;
}

.hint {
	color: var(--hint-c);
}

.warning {
	color: var(--danger)
}

.center-f {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.center-f * {
	text-align: center;
}

.spacer {
	display: inline-block;
	min-width: 125px;
}

button, hr, input {
	overflow: visible;
}

.bold {
	font-weight: bold;
}

.tac {
	text-align: center;
}

::placeholder {
	color: #d0d0d0;
	font-style: italic;
}

:-ms-input-placeholder {
	color: #d0d0d0;
}

::-ms-input-placeholder {
	color: #d0d0d0;
	font-style: italic;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

span.anchor {
	display: block;
	position: relative;
	top: -150px;
	visibility: hidden;
}

section.block {
	background-color: var(--secondary-bkg);
	color: var(--light-c);
	padding: 25px 10px;
	margin: 50px auto;
}

p {
	font-size: 0.8rem;
}

button,
a.button {
	align-items: center;
	background-color: var(--secondary-bkg);
	border: 1px solid transparent;
	border-radius: .25rem;
	box-shadow: 0px 10px 24px 6px rgba(0,0,0,0.1);
	color: var(--light-c);
	cursor: pointer;
	display: inline-flex;
	font-size: 1rem;
	font-weight: 400;
	height: 45px;
	line-height: 1.5;
	padding: .375rem 1rem;
	text-align: center;
	text-decoration: none;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

#root {
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: space-between;
	min-height: 100vh;
	overflow-x: hidden;
}

a.button:not([disabled]):not(.undecorated):hover,
button:not([disabled]):not(.undecorated):hover {
	background-color: var(--secondary-bkg-hover);
}

button.undecorated,
a.button.undecorated {
	background-color: transparent;
	box-shadow: none;
	color: initial;
	height: auto;
	padding: 0;
}

footer {
	background-color: var(--secondary-bkg);
	color: var(--light-c);
	margin-top: 25px;
	padding: 10px 0;
}

.limiter {
	margin: auto;
	max-width: 1920px;
	width: calc(100% - 2*25px);
	position: relative;
}

@media (max-width: 480px ) {

	.limiter {
		width: calc(100% - 2*10px);
	}
}

nav {
	background-color: var(--secondary-bkg);
	box-shadow: 0 0 30px 5px rgb(0 0 0 / 20%);
	color: var(--light-c);
	height: 80px;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1;
}

main {
	margin-top: 120px!important;
}

/* BEGIN: form */

	.fields {
		display: flex;
		flex-wrap: wrap;
		max-width: 900px;
	}

	.fields .field {
		display: inline-flex;
		margin-bottom: 1.5rem;
		margin-right: 15px;
		min-width: 300px;
		position: relative;
		width: 100%;
	}

	.fields .field.duo {
		width: calc(50% - 15px);
	}

	.fields .field label,
	.fields .field .caption {
		display: inline-block;
		font-size: 80%;
		margin-bottom: 4px;
	}

	input[type="checkbox"],
	input[type="radio"] {
		display: inline-block;
		margin-left: 3px;
		margin-top: 0px;
		transform: scale(1.4);
		vertical-align: top;
	}

	.fields .field input:not([type="checkbox"]):not([type="radio"]) {
		min-width: 300px;
		width: 100%;
	}

	/* BEGIN: radio */

		/* The container */
		.fields .field.radio {
			cursor: pointer;
			font-size: 22px;
			position: relative;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.fields .field.radio label{
			margin-left: 45px;
		}

		/* Hide the browser's default checkbox */
		.fields .field.radio input {
			bottom: 0;
			cursor: pointer;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 5px;
			width: 45px;
			z-index: 1;
		}

		/* Create a custom radiobox */
		.fields .field.radio .radiomark {
			background-color: #FFFFFF;
			border: 1px solid grey;
			border-radius: 50%;
			height: 25px;
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 25px;
		}

		.fields .field.radio .radiomark {
			left: 0;
		}

		/* When the checkbox is checked, add a blue background */
		.fields .field.radio input:checked ~ .radiomark {
			border: 1px solid var(--info);
		}

		/* Create the radiomark/indicator (hidden when not checked) */
		.fields .field.radio .radiomark:after {
			content: "";
			display: none;
			position: absolute;
		}

		/* Show the radiomark when checked */
		.fields .field.radio input:checked ~ .radiomark:after {
			display: block;
		}

		/* Style the radiomark/indicator */
		.fields .field.radio .radiomark:after {
			background-color: var(--info);
			border: 4px solid #ffffff;
			border-radius: 50%;
			height: 85%;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 85%;
		}

	/* END: radio */

	/* BEGIN: validation */

		.field.touched.has-error input:not([type="checkbox"]),
		.field.touched.has-error input:not([type="checkbox"]):invalid {
			border-color: var(--danger)!important;
			border-width: 2px;
			padding-right: calc(1.5em + .75rem);
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
			background-repeat: no-repeat;
			background-position: right calc(.375em + .1875rem) center;
			background-size: calc(.75em + .375rem) calc(.75em + .375rem);
		}

		.field.touched.has-error .message {
			position: absolute;
		}

		.field.touched.has-error .message {
			color: var(--danger);
		}

		.field.touched.has-error input[type="checkbox"] + .checkmark {
			border: 2px solid var(--danger);
		}

		.field.touched.has-error.floating-label label {
			top: 48%;
		}

		.field.touched .message {
			top: 100%;
			font-size: 70%;
		}

		.field:not(.touched) .message {
			display: none;
		}

	/* END: validation */

	/* BEGIN: floating label */

		.floating-label {
			position: relative;
		}

		.floating-label input {
			padding: 25px 15px 10px 11px;
			width: 250px;
			height: 45px;
		}

		.floating-label label {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			padding: 7px 0 0 13px;
			transition: all 200ms ease-in-out;
			opacity: 1;
			color: #777777;
		}

		.floating-label input:focus ~ label,
		.floating-label input:not(:placeholder-shown) ~ label {
			font-size: 75%;
			transform: translateY(-100%);
			opacity: 0.8;
		}


		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

			.floating-label input:focus ~ label,
			.floating-label input:not(:-ms-placeholder-shown) ~ label {
				font-size: 75%;
				transform: translateY(-100%);
				opacity: 0.8;
			}

			.floating-label input:-ms-input-placeholder {
				color: transparent;
			}
		}

		.floating-label input::placeholder {
			color: transparent;
		}

	/* END: floating label */

/* END: form */

/* From now: ideally, for non-global css, a solution to ship only the needed css when the page is requested would be preferable...  */

/* BEGIN: pages */

	/* BEGIN: app */

		.patent-info {
			background-color: var(--light-bkg);
			border-radius: 7px;
			box-shadow: 0px 3px 13px 8px rgb(0 0 0 / 2%);
			display: flex;
			flex-direction: column;
			padding: 15px;
			margin: 10px auto;
			width: 90%;
		}

		.chemical-amount {
			font-weight: bold;
			margin: auto;
			width: 90%;
		}

	/* END: app */

/* END: pages */

/* BEGIN: components */


	nav .logo {
		display: block;
		margin: auto;
		height: 70px;
	}

	nav .wrapper {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: flex-end;
	}

/* END: components */

/* BEGIN: plugins */

	.infinite-scroll-component  {
		padding: 10px;
	}

/* END: plugins */

